log_level                :info
log_location             STDOUT
node_name                'timejust'
client_key               '/home/ubuntu/.chef/timejust.pem'
validation_client_name   'timejust-validator'
validation_key           '/etc/chef/validation.pem'
chef_server_url          'http://chef.timejust.com:4000'
cache_type               'BasicFile'
cache_options( :path => '/home/ubuntu/.chef/checksums' )
cookbook_path [ './/cookbooks', './/site-cookbooks' ]
